<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta property="og:image" content="https://i.ibb.co/rs5ZQjT/passport.png"/>

    <script src="{% static 'js/jquery.touch.js' %}"></script>
    <script src="{% static 'js/jquery.swipe.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>

{#{% block content %}#}
{##}
{#{% endblock %}#}
{#</body>#}
{##}
{##}
{#</html>#}