{% load static %}

<head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta property="og:image" content="https://i.ibb.co/rs5ZQjT/passport.png"/>
</head>

<body>
<div style="height: 100%">

    {% if guest.choice == 1 %}
        <div id="page-07" class="last-page" >
            <div class="page">
                <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-front"/>
                <div class="page-content">
                    <p>Your boarding pass will be sent to you via Messenger/Instagram. Don't forget to download your boarding pass for it will be asked by the hotel staff upon arrival at the entrance door.</p>
                    <p>We created different invitation reference number for every guest with a QR code and it will be scanned upon entering the reception venue.</p>
                    <p>À bientôt!</p>
                    <p style="font-weight: bold">See you on board!</p>
                </div>
            </div>
        </div>
        <div id="page-06" class="page">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/Gift.jpg" %}" alt="Passport" class="page-front"/>
        </div>
        <div id="page-05" class="page">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/Dress Code.jpg" %}" alt="Passport" class="page-front"/>
        </div>
        <div id="page-04" class="page">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/Reminder.jpg" %}" alt="Passport" class="page-front"/>
        </div>
        <div class="page" id="page-03">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/Gratitude.jpg" %}" alt="Passport" class="page-front"/>
        </div>
        <div class="page" id="page-02">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/passport_page.jpg" %}" alt="Passport" class="page-front"/>

            <h2>{{ passport_number }}</h2>
        </div>
        <div id="page-01" class="page transform">
            <img src="{% static "img/passport-back.png" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/passport.png" %}" alt="Passport" class="page-front"/>
        </div>

    {% else %}
        <div class="page last-page confirmation-page" id="page-04">
            <img src="{% static "img/RSVP.jpg" %}" alt="Passport" class="page-front"/>
    {#        <a href="{% url 'confirmation_guest' guest=guest.code %}" class="confirm-button"><img src="{% static "img/flower_button.png" %}" class="button-img"/></a>#}
            <a href="{% url 'confirmation_guest' guest=guest.code %}"><button class="confirm-button">Confirm</button></a>
        </div>
        <div class="page" id="page-03">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/Gratitude.jpg" %}" alt="Passport" class="page-front"/>
        </div>
        <div class="page" id="page-02">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/passport_page.jpg" %}" alt="Passport" class="page-front"/>

            <h2>{{ passport_number }}</h2>
        </div>
        <div id="page-01" class="page transform">
            <img src="{% static "img/passport-back.png" %}" alt="Passport" class="page-back"/>
            <img src="{% static "img/passport.png" %}" alt="Passport" class="page-front"/>
        </div>
    {% endif %}

{#    <button class="click-left" id="back"></button>#}
{#    <button class="click-right" id="forth"></button>#}
    <button class="click-swipe"></button>


    <div class="topnav" id="myTopnav">
        <a href="{% url 'home' %}" class="active">Home</a>
        <a href="{% url 'program' %}">Program</a>
        <button class="icon" id="hamburger">
            <object style="pointer-events: none;" data="{% static "img/nav.svg" %}" width="20" height="20"></object>
        </button>
    </div>
</div>
</body>

<script src="{% static 'js/jquery.touch.js' %}"></script>
<script src="{% static 'js/jquery.swipe.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
