{% load static %}

<head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<div style="height: 100%">
    <div id="page-04" >
        <div class="page">
            <img src="{% static "img/passport_empty_page.jpg" %}" alt="Passport" class="page-front"/>
            <div class="decline">
                <p>Since you clicked "NO", you will not be on the list of our final guests. </p>
                <p>We would still like to extend our gratitude for your response to our invitation link. We appreciate it.</p>
                <p>Thank you and God speed.</p>
            </div>
        </div>
    </div>

    <div class="topnav" id="myTopnav">
        <a href="{% url 'home' %}" class="active">Home</a>
        <a href="{% url 'program' %}">Program</a>
{#        <a><input type="text" placeholder="Search.."></a>#}
        <button class="icon" id="hamburger">
            <object style="pointer-events: none;" data="{% static "img/nav.svg" %}" width="20" height="20"></object>
        </button>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>

